@import "bootstrap";
@import "library/jquery.smartmenus.bootstrap";
@import "library/lightslider";
// main.scss
body {
    background-color: #e4e1e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: black;
    &:hover,
    &:focus {
        text-decoration: none;
        background: none;
    }
}

.row,
aside,
article,
section,
.category-science,
.category-prevent {
    margin-bottom: 8px !important;
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

aside>a,
article>a,
section>a {
    display: table;
    width: 100%;
}

aside>a>img,
article>a>img,
section>a>img {
    width: 100%;
}

.page-content {
    margin-bottom: 0px !important;
}

$url_icon:"../img/icon.png";
@mixin box($border, $border-radius, $padding) {
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
}

@mixin border($top, $right, $bottom, $left) {
    border-top: $top;
    border-right: $right;
    border-bottom: $bottom;
    border-left: $left;
}

@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right) {
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-left-radius: $bottom-left;
    border-bottom-right-radius: $bottom-right;
}

@mixin background-before( $width, $url, $repeat, $coordinates) {
    padding-left: $width;
    @include background($url, $repeat, $coordinates);
}

@mixin background($url, $repeat, $coordinates) {
    background: url($url) $repeat $coordinates;
}

@mixin multiple-background($url, $before, $after, $between, $between_repeat) {
    background: url($url) $before no-repeat, url($url) 100% $after no-repeat, url($url) $between $between_repeat;
}

@mixin gradient($linear, $linear-to, $from, $between, $between-percent, $to) {
    background: $from;
    background: -moz-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -webkit-gradient($linear top, right top, color-stop(0%, $from), color-stop($between-percent, $between), color-stop(100%, $to));
    background: -webkit-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -o-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: -ms-linear-gradient($linear, $from 0%, $between $between-percent, $to 100%);
    background: linear-gradient($linear-to, $from 0%, $between $between-percent, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

%title-box {
    margin: 0px 0px 6px 0px;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #0477a1;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 3px;
    display: block;
    text-transform: uppercase;
}

%title-box-sub {
    padding: 0px;
    background: #7dcdeb;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

%title-icon {
    padding-left: 12px;
    @include background($url_icon, no-repeat, -43px -315px);
    width: 100%;
}

%list-content {
    ul {
        margin-bottom: 0px;
        list-style-type: none;
        padding: 0px 10px;
        li {
            padding: 6px 0px 6px 0px;
            &:first-child,
            &:nth-child(2) {
                display: inline-flex;
                border-bottom: 1px dotted #bdbdbd;
                &>a {
                    // width: 98px;
                    display: block;
                    float: left;
                    img {
                        width: 100%;
                        // height: 67px;
                        border: 1px solid #b7b8b8;
                    }
                }
                .info {
                    // width: calc(100% - 98px);
                    display: inline-block;
                    &>a {
                        float: left;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: justify;
                        &:first-child {
                            font-weight: bold;
                            padding-left: 6px;
                        }
                        &:last-child {
                            color: #7b7a7a;
                            padding-left: 17px;
                            padding-top: 3px;
                            @include background($url_icon, no-repeat, -39px -269px);
                        }
                    }
                }
            }
            &:nth-child(n+3) {
                @extend %title-icon;
                border-bottom: 1px dotted #bdbdbd;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@mixin list-content($image-width, $height-width) {
    ul {
        margin-bottom: 0px;
        list-style-type: none;
        padding: 0px 10px;
        li {
            padding: 5px 0px 5px 0px;
            &:first-child,
            &:nth-child(2) {
                display: inline-table;
                float: left;
                border-bottom: 1px dotted #bdbdbd;
                &>a {
                    width: $image-width;
                    display: block;
                    float: left;
                    img {
                        width: 100%;
                        height: $height-width;
                        border: 1px solid #b7b8b8;
                    }
                }
                .info {
                    display: table;
                    &>a {
                        float: left;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: justify;
                        &:first-child {
                            font-weight: bold;
                            padding-left: 6px;
                        }
                        &:last-child {
                            color: #7b7a7a;
                            padding-left: 17px;
                            padding-top: 3px;
                            @include background($url_icon, no-repeat, -39px -267px);
                        }
                    }
                }
            }
            &:nth-child(n+3) {
                @extend %title-icon;
                border-bottom: 1px dotted #bdbdbd;
                display: table;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@mixin heading-home($item-1, $item-2, $item-3, $item-4, $item-5, $item-6) {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    background: #0477a1;
    &>div {
        margin: 0px;
        float: left;
        @include border(1px solid #fff, 1px solid #43aacf, 0px, 1px solid #0c5873);
        a {
            font-size: 13px;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            display: block;
        }
        &:first-child {
            padding-right: 15px;
            background: url(../img/bg-icon.png) 100% -405px no-repeat, #168942;
            border-right: none;
            border-left: none;
            a {
                font-size: 14px;
            }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }
        &:nth-child(2),
        &:nth-child(4) {
            border-left: none;
        }
        &:nth-child(3),
        &:nth-child(6) {
            border-right: none;
        }
        &:nth-child(1) {
            width: $item-1;
        }
        &:nth-child(2) {
            width: $item-2;
        }
        &:nth-child(3) {
            width: $item-3;
        }
        &:nth-child(4) {
            width: $item-4;
        }
        &:nth-child(5) {
            width: $item-5;
        }
        &:nth-child(6) {
            width: $item-6;
        }
    }
}

@import "header/header";
@import "menu/menu-top";
@import "left/left";
@import "content/content";
@import "right/right";
@import "footer/footer";
@import "responsive/responsive";
#breadcrumbs {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: none;
    display: inline-block;
    width: 100%;
    background: url(../img/bg-icon.png) 71px -965px;
    border-radius: 0px;
    height: 30px;
    >span>span {
        a,
        .breadcrumb_last {
            font-size: 15px;
            line-height: 31px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }
        > {
            a,
            span>a {
                background: #168942;
                display: inline-block;
                height: 30px;
                float: left;
            }
            a>span {
                background: url(../img/bg-icon.png) 76px -827px;
                text-indent: -999px;
                width: 30px;
                display: block;
                height: 30px;
                float: left;
            }
            span> {
                a {
                    background: #168942;
                }
                .sep {
                    padding: 8px 20px 6px 0px;
                    background: url(../img/bg-icon.png) 100% -405px no-repeat, #168942;
                    text-align: center;
                    text-indent: -9999px;
                    display: inline-block;
                    height: 30px;
                }
            }
            .sep {
                display: none;
            }
        }
    }
}