@media (min-width: 0px) {
    header {
        .logo {
            display: block;
            width: 100%;
            text-align: center;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #74acc1;
            padding: 10px;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .banner {
            // display: block;
            display: none;
            width: 100%;
            img {
                height: auto;
            }
        }
    }
    .menu-top {
        width: calc(100% + 30px);
        height: auto;
        min-height: auto;
        padding: 0px;
        .container-fluid {
            .navbar-header {
                .navbar-brand {
                    display: none;
                }
            }
            .navbar-collapse {
                &>.nav {
                    border: none;
                    &>li {
                        border: none;
                        a {
                            padding: 0px 10px;
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: #fff;
                                    padding: 5px 0px 5px 30px;
                                    &:hover {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    &:first-child {
                        margin: 0px 0px 0px 8px;
                    }
                    &:last-child {
                        margin: 0px 8px 0px 0px;
                        li {
                            background: 0px;
                            &>a {
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            .navbar-form {
                width: 100%;
                padding: 0px 15px 0px 15px;
                margin: 0px;
                border: 0px;
                .input-group {
                    width: 100%;
                }
                .input-group-btn {
                    width: 34px;
                }
            }
        }
    }
    .content {
        padding: 0px;
        .category {
            .panel-heading {
                display: block;
                width: 100%;
                @include heading-home(100%, 100%, 100%, 100%, 100%, 100%);
                &>div {
                    border: none;
                    a {
                        text-align: left;
                        padding-left: 10px;
                        text-transform: none;
                        line-height: 20px;
                    }
                    &.parent {
                        position: relative;
                        a {
                            text-align: center;
                            text-transform: uppercase;
                            line-height: 30px;
                        }
                        .caret-item {
                            position: absolute;
                            right: 10px;
                            top: 5px;
                            width: 20px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    &.item {
                        display: none;
                    }
                }
            }
            .panel-body {
                .post-main {
                    .main-view {
                        width: 100%;
                        padding-right: 0px;
                        border-right: none;
                        .image-info {
                            display: table;
                            float: left;
                            margin-right: 10px;
                            img {
                                height: auto;
                                width: 200px;
                            }
                            .transbox {
                                width: 200px;
                                h2 {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .hot-view {
                        width: 100%;
                        ul {
                            li {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}