@media (min-width: 540px) {
    .container {
        width: 520px;
    }
    .content {
        width: 100%;
        .category {
            .panel-heading {
                @include border-radius(2px, 2px, 0px, 0px);
                .child {
                    display: block;
                    li {
                        &:nth-child(1),
                        &:nth-child(2) {
                            border-top: none;
                        }
                    }
                }
            }
            &.slideshow {
                .panel-heading {
                    @include heading-home(27%, 33%, 40%, 30%, 45%, 25%);
                }
            }
            &.list {
                .panel-heading {
                    @include heading-home(35%, 29.6%, 35.4%, 30%, 45%, 25%);
                }
            }
            .panel-body {
                .dropdown {
                    button {
                        display: block;
                    }
                    .dropdown-menu {
                        position: relative;
                        // float: left;
                        display: block;
                    }
                }
                .post-main {
                    .main-view {
                        width: 287px;
                        padding-right: 5px;
                        border-right: 1px dashed #5abb7f;
                        .image-info {
                            margin-right: 0px;
                            img {
                                height: 200px;
                                width: 100%;
                            }
                            .transbox {
                                width: 100%;
                                h2 {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .hot-view {
                        width: calc(100% - 287px);
                        ul {
                            li {
                                border-bottom: 1px dotted #b7b7b7;
                            }
                        }
                    }
                }
            }
        }
    }
    .left {
        width: calc(40% - 5px);
        float: left;
        // left: 0px;
    }
    .right {
        display: block;
        width: calc(60% - 5px);
        float: right;
    }
    footer {
        .menu-footer {
            display: block;
            &>a {
                display: block;
                text-indent: 0px;
                min-width: 90px;
            }
            ul {
                &:nth-child(2) {
                    li {
                        padding: 0 9px;
                        background: url(../img/bg-icon.png) -2px -553px no-repeat;
                        width: auto;
                    }
                }
                &:nth-child(3) {
                    display: block;
                    float: right;
                }
            }
        }
    }
}