@media (min-width: 1200px) {
    .container {
        width: 1010px;
    }
    .menu-top {
        .container-fluid {
            .navbar-collapse {
                &>.nav {
                    &>li {
                        a {
                            padding: 0px 5px;
                        }
                    }
                }
            }
            .navbar-form {
                width: 118px;
            }
        }
    }
    footer {
        .menu-footer {
            ul {
                &:nth-child(2) {
                    li {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}