@media (min-width: 0px) {
    header {
        .logo {
            display: block;
            width: 100%;
            text-align: center;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #74acc1;
            padding: 10px;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .banner {
            // display: block;
            display: none;
            width: 100%;
            img {
                height: auto;
            }
        }
    }
    .menu-top {
        width: calc(100% + 30px);
        height: auto;
        min-height: auto;
        padding: 0px;
        .container-fluid {
            .navbar-header {
                .navbar-brand {
                    display: none;
                }
            }
            .navbar-collapse {
                &>.nav {
                    border: none;
                    &>li {
                        border: none;
                        a {
                            padding: 0px 10px;
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: #fff;
                                    padding: 5px 0px 5px 30px;
                                    &:hover {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    &:first-child {
                        margin: 0px 0px 0px 8px;
                    }
                    &:last-child {
                        margin: 0px 8px 0px 0px;
                        li {
                            background: 0px;
                            &>a {
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            .navbar-form {
                width: 100%;
                padding: 0px 15px 0px 15px;
                margin: 0px;
                border: 0px;
                .input-group {
                    width: 100%;
                }
                .input-group-btn {
                    width: 34px;
                }
            }
        }
    }
    .content {
        padding: 0px;
        .category {
            .panel-heading {
                width: 100%;
                border-radius: 2px;
                @include heading-home(100%, 100%, 100%, 100%, 100%, 100%);
                h2 {
                    padding: 0px;
                    background: url(../img/icon.png) 0 -77px repeat-x;
                }
                .child {
                    li {
                        @include border(1px solid #fff, 0px, 0px, 0px);
                        a {
                            text-transform: none;
                            line-height: 20px;
                        }
                    }
                }
            }
            .panel-body {
                .post-main {
                    .main-view {
                        width: 100%;
                        padding-right: 0px;
                        border-right: none;
                        .image-info {
                            display: table;
                            float: left;
                            margin-right: 10px;
                            img {
                                height: auto;
                                width: 200px;
                            }
                            .transbox {
                                width: 200px;
                                h2 {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .hot-view {
                        width: 100%;
                        ul {
                            li {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .menu-footer {
            display: block;
            &>a {
                display: block;
                text-indent: 0px;
                min-width: 90px;
            }
            ul {
                &:nth-child(2) {
                    display: block;
                    li {
                        height: 22px;
                        padding: 0 9px;
                        background: url(../img/bg-icon.png) -2px -553px no-repeat;
                        width: auto;
                    }
                }
                &:nth-child(3) {
                    display: block;
                    float: right;
                    a {
                        text-indent: -9999px;
                        display: block;
                        padding: 3px 0px 3px 0px;
                    }
                }
            }
        }
    }
}