@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    header {
        .logo,
        .banner {
            img {
                height: 153px;
            }
        }
    }
    .menu-top {
        .container-fluid {
            border-radius: 0px;
            background: url(../img/icon.png) 100% -38px no-repeat, url(../img/icon.png) repeat-x;
            padding: 0;
            height: 35px;
            .navbar-header {
                .navbar-brand {
                    display: block;
                    text-indent: 0px;
                    &::after {
                        display: none;
                    }
                }
            }
            .navbar-collapse {
                &>.nav {
                    border: none;
                    &>li {
                        background: url(../img/bg-icon.png) -3px -190px no-repeat;
                        &:first-child {
                            background: none;
                        }
                        a {
                            padding: 0px 4px;
                        }
                        .dropdown-menu {
                            background: #0477a1;
                            a {
                                &:hover {
                                    background: none;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    &:first-child {
                        margin: 0px;
                    }
                }
            }
            .navbar-form {
                display: block;
                width: 94px;
                margin: 6px 6px 6px 0;
                padding: 0;
                .input-sm {
                    height: 23px;
                }
                .btn-sm {
                    padding: 3px 4px;
                    font-size: 12px;
                    border-left: none;
                    height: 23px;
                }
                .input-group-btn {
                    width: 23px;
                }
            }
        }
        padding: 0px;
        .container-fluid {
            .navbar-collapse {
                &>.nav {
                    .caret {
                        // margin: 2px 15px 0 0;
                        display: none;
                    }
                }
            }
        }
    }
    main {
        .left {
            width: 20%;
            right: 50%;
        }
        .content {
            width: 50%;
            left: 20%;
            padding: 0px 8px;
            .category {
                &.slideshow {
                    .panel-heading {
                        @include heading-home(27%, 33%, 40%, 30%, 45%, 25%);
                    }
                }
                &.list {
                    .panel-heading {
                        @include heading-home(35%, 29.6%, 35.4%, 30%, 45%, 25%);
                    }
                }
            }
        }
        .right {
            width: 30%;
            float: left;
        }
    }
}