.menu-top {
    margin-bottom: 4px;
    display: table;
    background: none;
    .container-fluid {
        padding: 0px;
        background: #0477a1;
        border-radius: 4px;
        .navbar-header {
            button {
                margin: 0px;
                border: 0px;
                width: calc(100% - 30px);
                margin: 0px 15px;
                // @include multiple-background($url_icon, -42px -115px, 9999px, 0 -77px, repeat-x);
                @include multiple-background($url_icon, 9999px, -38px, 0 0px, repeat-x);
                .sr-only {
                    display: block;
                    color: #fff;
                    clip: auto;
                    overflow: visible;
                    font-weight: 700;
                    font-size: 16.5px;
                    width: 95%;
                    margin-top: -5px;
                }
                .icon-bar {
                    background: #fff;
                }
            }
            .navbar-brand {
                color: #fff;
                margin: 0 !important;
                padding: 8px 19px 8px 8px;
                height: auto;
                font-size: 16.5px;
                font-weight: 700;
                line-height: 19px;
                font-family: Arial;
                text-transform: uppercase;
                // background: url(../img/bg-icon.png) -42px -115px no-repeat, url(../img/bg-icon.png) 100% -153px no-repeat, url(../img/bg-icon.png) 0 -77px repeat-x;
                @include multiple-background($url_icon, -42px -115px, -153px, 0 -77px, repeat-x);
                background-color: rgba(0, 0, 0, 0);
            }
        }
        .navbar-collapse {
            // padding-left: 9px;
            a {
                color: #fff;
                &:hover,
                &:focus {
                    color: #fff;
                }
            }
            margin: 0px -15px;
            &>.nav {
                .caret {
                    margin: 2px 15px 0 0;
                    &:hover {
                        background: none;
                    }
                    // display: none;
                }
                &>li {
                    &.open>a {
                        background: none;
                    }
                    &>a {
                        // padding: 0px;
                        font-size: 14px;
                        font-weight: bold;
                        display: block;
                        line-height: 35px;
                        padding: 8px;
                    }
                }
                &:last-child {
                    border-right: 0px;
                    li {
                        border-radius: 2px;
                        a {
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }
    }
}